<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css" rel="stylesheet">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<title>Rate My Website Project</title>
  </head>
	<body>	
	  <div style="width: 700px; margin: 0 auto; padding-bottom: 30px;">
			<%= yield %>
	  </div>
	</body>	
</html>