<div style="width: 450px; margin: 0 auto; padding-bottom: 30px;">
	<h1>Rate My Website</h1>
		<form role="form" action="/rating" method="post"> 
			<!--action=where method=do what -->

		  <div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" type="text" id="name" placeholder="John Smith" name="name">
			<!-- name="name" "name" is the key, input is the value-->
			<!-- for="name" is linking to id="name" "name" -->
		  </div>

		  <div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" type="text" id="email" placeholder="username@email.com" name="email">
		  </div>
		  <br>
		  
		  <!-- DESIGN -->
			<label style="width: 60px;" for="department">Design</label>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="design" value="1">1</label>
		  	</div>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="design" value="2">2
		    </label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="design" value="3">3
				</label>
		  </div>
	 		<div class="radio-inline">
				<label>
			 		<input type="radio" name="design" value="4">4
				</label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="design" value="5">5
				</label>
		  </div>
		  <br>

		  <!-- CONTENT -->
			<label style="width: 60px;" for="department">Content</label>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="content" value="1">1</label>
		  	</div>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="content" value="2">2
		    </label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="content" value="3">3
				</label>
		  </div>
	 		<div class="radio-inline">
				<label>
			 		<input type="radio" name="content" value="4">4
				</label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="content" value="5">5
				</label>
		  </div>
		  <br>
			
		  <!-- SPEED -->
			<label style="width: 60px;" for="department">Speed</label>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="speed" value="1">1</label>
		  	</div>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="speed" value="2">2
		    </label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="speed" value="3">3
				</label>
		  </div>
	 		<div class="radio-inline">
				<label>
			 		<input type="radio" name="speed" value="4">4
				</label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="speed" value="5">5
				</label>
		  </div>
		  <br>

		  <!-- OVERALL -->
			<label style="width: 60px;" for="department">Overall</label>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="overall" value="1">1</label>
		  	</div>
		  <div class="radio-inline">
				<label>
		  		<input type="radio" name="overall" value="2">2
		    </label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="overall" value="3">3
				</label>
		  </div>
	 		<div class="radio-inline">
				<label>
			 		<input type="radio" name="overall" value="4">4
				</label>
		  </div>
		  <div class="radio-inline">
				<label>
				  <input type="radio" name="overall" value="5">5
				</label>
		  </div>
			<br>
			<input class="btn btn-primary" type="submit" value="Rate!"> 
			<!--type=defines what is being sent, value=what it is  -->

		</form>
</div>



